.card {
    @media(min-width: 768px) {
        width: 20vw;
        height: 40vh;
        border-radius: 8%;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(5px);
    }

    @media(max-width: 768px) {
        border-radius: 8%;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(5px);
        height: 65px;
        width: clamp(65px, 6.5vw, 130px);
        padding: 10px;
    }
}