.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; // Centers items horizontally
    min-width: 300px;
    height: 40vh;
    border-radius: 8%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
}

.titleWrapper {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-start; // Aligns title in the center
    text-align: center;
    background-color: rgba(90, 7, 7, 0.35);
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.text {
    color: antiquewhite;
    font-size: 1em;
}

.image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between; // Distributes space between footer items
    width: 100%;
    padding: 5px 10px; // Adds padding inside the footer for better spacing
    background-color: rgba(90, 7, 7, 0.35);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 21px;
}

.spanWrapper {
    display: flex;
    justify-content: space-around; // Evenly spaces out the spans
    align-items: center; // Centers items vertically
    width: 100%;
}